@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

#home {
    background-image: url("/assets/home-bg.jpg");
    
}

header {
    background-color: #5D6073;
    opacity: .8;
    padding: 25px;
    margin: 0 auto;
    font-family: arial, sans-serif;
}

h1 {
    font-family: "Bangers", sans-serif;
    color: #D5AB21;
    font-size: 48px;
    letter-spacing: .5em;
    text-align: center;
    margin: 10px;
    font-weight: lighter;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: arial, sans-serif;
    margin: 20px;
}

.button-container {
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background: grey;
}

button {
    background: transparent;
    font-size: 22px;
    font-family: arial, sans-serif;
    color: white;
    border: none;
    text-transform: uppercase;
}

