* {
    margin: 0;
    box-sizing: border-box;
}

#map {
    background-image: url("../assets/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;    
}

span {
    margin-left: 10px;
}

header {
    background-color: #5D6073;
    opacity: .8;
    padding: 25px;
    margin: 0 auto;
}

h2 {
    font-family: arial, sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    
}

.profile {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.quest {
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
}

.quest.completed {
    color: red;
}
    
.quest.completed:after {
    text-decoration: line-through;
}

